[submodule "extern/vulkan"]
	path = extern/vulkan
	url = https://github.com/SaschaWillems/Vulkan
[submodule "extern/entt"]
	path = extern/entt
	url = https://github.com/skypjack/entt
[submodule "extern/ctpl"]
	path = extern/ctpl
	url = https://github.com/vit-vit/CTPL
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
[submodule "extern/vma"]
	path = extern/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "extern/astc"]
	path = extern/astc
	url = https://github.com/ARM-software/astc-encoder
[submodule "extern/tinygltf"]
	path = extern/tinygltf
	url = https://github.com/syoyo/tinygltf
